# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Banco de Dados (Crítico!) ---
postgres_data/

# --- Frontend (Node/Vue) ---
frontend/node_modules/
frontend/dist/
frontend/.cache/

# Logs de erro do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDEs & SO ---
.vscode/
.idea/
.DS_Store
